/*--- HTML-slide ---*/

.slidemode {
    position:fixed;
    top:0; right:0; bottom:0; left:0;
    margin: 0;
}
.slidemode .slide {
    position: absolute;
    text-shadow: rgba(0, 127, 127, 0.2) 2px 2px;
    letter-spacing: 0.1em;
    font-size: xx-large;
    font-family: 'Hiragino Maru Gothic ProN';
    width: 100%; height: 100%;
}
.slidemode .slide.left {
    display: none;
}
.slidemode .slide.right {
    display: none;
}
.slidemode .view {
    opacity: 1;
}

.slidemode h1 {
    font-weight: bold;
    font-size: -webkit-xxx-large;
    text-align: center;
}
.slidemode h2 {
    margin: 0.5em;
    font-weight: bold;
    font-size: -webkit-xxx-large;
}
.slidemode h3 {
    margin: 0.5em;
    font-weight: bold;
    font-size: xxx-large;
}
.slidemode p {
    margin: 1.0em;
}
.slidemode pre {
    margin: 0 1em;
    text-shadow: none;
}
.slidemode code {
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace, 'Hiragino Maru Gothic ProN';
}
.slidemode ul {
    margin: 0.5em;
    line-height: normal;
}
.slidemode li {
    line-height: normal;
}
.slidemode blockquote {
    margin: 0.5em 1em;
}
.slidemode div.titlepage {
    text-align: center;
}
.slidemode div#footer, div.slide {
    position: absolute;
    width: 100%; top: 0; left: 0;
}
.slidemode div#footer {
    top: auto; bottom: 5px; height: 3.5em;
    line-height: 0.5em;
    z-index: -1;
}
.slidemode div#footer div#profile {
    text-align: right;
    margin-right: 5px;
}
.slidemode div#profile, div#profile a {
    color: darkgray;
}

/* code */
pre {
    font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
}
pre .comment {
    /* font-lock-comment-face */
    color: #ff7f24;
}
pre .comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #ff7f24;
}
pre .function-name {
    /* font-lock-function-name-face */
    color: #87cefa;
}
pre .keyword {
    /* font-lock-keyword-face */
    color: #00ffff;
}
pre .string {
    /* font-lock-string-face */
    color: #ffa07a;
}
pre .variable-name {
    /* font-lock-variable-name-face */
    color: #eedd82;
}
