body {
    color: white;
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
    margin: 20px;
    background-color: black;
}

dt {
    margin-top: 15px;
}

a:link, a:visited {
    color: aqua;
}

ul.list {
    margin-top: 5px;
    padding-left: 0;
}

li {
    line-height: 25px;
}

p {
    margin: 0.2em 0;
}

span.date {
    font-size: small;
    margin-left: 10px;
    color: darkgray;
}

span.email {
    color: lightgray;
}
